/* tm-derby-schedule-style.css */
.tm-derby-schedule {
   margin-bottom: 20px;
}

.tm-derby-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center; /* Center items vertically */
}

.tm-derby-game-cell-1 {
  width: 150px;
}

.tm-derby-game-cell-2 {
  flex-grow: 1;
}
	
.tm-derby-schedule h1 {
	font-size: 24px !important; 
	line-height: 1.2em;
	margin: 0px;
	padding: 0px;
}

.tm-derby-schedule h2 {
	font-size: 16px !important;
	line-height: 1.2em;
	margin: 0px;
	padding: 0px;
	}
	
.tm-derby-schedule h3 {
	font-size: 18px !important;
	line-height: 1.2em;
	margin: 0px;

	}
	
.tm-derby-schedule p {
	font-size: 14px !important;
	line-height: 1.2em;
	margin: 0px;
	padding: 0px;
	}

.tm-derby-schedule a {
	text-decoration: none;
}

.tm-derby-game.past-game {
	opacity: 0.6;
}

.tm-derby-game-reduced {
	margin: 0px; padding:0px;
}

/* You can add more styles as needed */
